/* Limpando as configurações padrão do navegador */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Estilizando o index */

body {
    font-family: sans-serif;
}

nav {
    background: #222;
    padding: 5px 20px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logo-img {
    width: 128px;
}

.title-menu {
    align-items: center;
    position: relative;
    text-decoration: none;
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
}

.menu li a {
    display: block;
}

.logo a {
    font-size: 20px;
}

footer {
    text-align: center;
    background: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    line-height: 100px;
}

.copyright {
    color: yellow;
    font-size: 13px;
    margin: 20px 0 0;
}


/* Responsividade para menu mobile */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

.toggle {
    cursor: pointer;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars::before,
.bars::after {
    background: #999;
    content: "";
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars::before {
    top: 5px;
}

.bars::after {
    top: -5px;
}

.caixa {
    width: auto;
}


/* Responsividade do menu para tablets  */

@media all and (min-width:468px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        order: 2;
    }
    .caixa {
        width: auto;
    }
}


/* Responsividade para desktops */

@media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .menu li {
        padding: 15px 10px;
    }
}